.ButtonHead{
    height: 100%;
    border: medium none;
    background-image: none; 
    background: transparent;
    float: left;
    background-color: transparent;
}
.BHText{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}