.IconsHead{
    height: 100%;
    border: medium none;
    background-image: none; 
    background: transparent;
    float: left;
    background-color: transparent;
    margin-left: 8px;
    margin-right: 8px;
}